alabaster
altair
aniso8601
apispec
argh
argon2-cffi
asgiref
astor
async-generator
atomicwrites
base58
beautifulsoup4
blinker
breadability
brotlipy
bs4
cachetools
catalogue
certifi
click
Cython
deep-translator
docopt
entrypoints
fastapi
flasgger
Flask
flask-apispec
Flask-RESTful
flask-restplus
future
gensim
gitdb
GitPython
gunicorn
h11
ipywidgets
itsdangerous
joblib
jsonschema
langdetect
lxml
marshmallow
mccabe
nltk
numpy
notebook
pandas
parso
Pillow
prometheus-client
protobuf
pyarrow
pycountry
pydantic
pydeck
PyYAML
pyzmq
QtPy
Send2Trash
scikit-learn
scipy
smart-open
smmap
soupsieve
starlette
streamlit
sumy
terminado
toolz
tzlocal
uvicorn
validators
webargs
webencodings
Werkzeug
widgetsnbextension
wincertstore
wrapt
uvloop
httptools
spacy
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
